*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --btnYellow: #FFA510;
  --btnblue: #4DF5DD;
  --btnTxt: #000D41;
  --fuccia: #FF1075;
  --blue : #002F6F;
  --white: #f1f1f1;
  --black: #010101; 
}
body {
  background-image: url("../assets//images/illustration_khipu_sketch_1440x960_v2\ 1.png");
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center center;
  
}

.form {
  /* width: 400px;   */
  width: 100vw;
  height: 100vh;
  padding: 30px; 
  /* margin: auto;
  margin-top: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;  
  font-family: 'Calibri';
  font-size: 12px;
}

.form__logo{
  
}

.form p {
  text-align: center;
  margin-bottom: 15px;
  color: #f1f1f1;
}
.form__email, 
.form__password {
  background: #f1f1f1;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  font-family: 'Calibri';
  font-size: 18px;
}

.form__button--Google,
.form__button--Send, 
.form__button--login {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  font-family: 'Calibri';
  font-size: 18px;
  
}
.form__button--Send,
.form__button--Send {
  background:#4DF5DD ;
}
.form__button--Google {
  background: #f1f1f1;
  margin-top: 25px;
}
.form__button--login {
  background: none;
  color: #f1f1f1;
}
.form__button--login:hover {
  text-decoration: underline;
  color: #4DF5DD;
}


@media only screen and (min-width: 700px) {
  .form{
    /* align-items:flex-end ; */
    width: 50%;
    float: right;
  } 
    

}