:root {
  --btnYellow: #ffa510;
  --btnblue: #4df5dd;
  --btnTxt: #000d41;
  --fuccia: #ff1075;
  --blue: #002f6f;
  --white: #f1f1f1;
  --black: #010101;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input__note {
  width: 80%;
  padding: 8px 10px;
  border-radius: 8px;
  margin: 50px 10px 10px;
  -webkit-box-shadow: 2px 7px 9px -4px rgba(0, 0, 0, 0.64);
  box-shadow: 2px 7px 9px -4px rgba(0, 0, 0, 0.64);
  border: 1px solid grey;
}
.note {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--btnTxt);
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.note__text {
  width: 90%;
  font-size: 0.8rem;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--fuccia);
}
::placeholder {
  font-size: 0.7rem;
}
.input__botton {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  color: var(--btnTxt);
  background-color: var(--btnYellow);
}
@media only screen and (min-width: 700px) {
  .input {
    flex-direction: row;
  }
  .input__note {
    width: 40%;
  }
}
